{% extends "template.html" %}
{% block conteudo %}
<header>
    <span class="material-symbols-outlined">person</span>
    <h3>  {{ usuario_logado }}</h3>
</header>
<main>
    <section class="content height100">
        <div class="card height90">
            <h1>Vagas</h1>
            
            <div class="list width100">
                <table class="list__table">
                    <thead>
                        <tr>
                            <th class="visualizar">Visualizar</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaga in vagas %}
                        <tr>
                            <td class="visualizar">
                                <form action="{{ url_for('views.relatorio_vaga') }}" method="post">
                                    <input type="hidden" name="vaga" value="{{ vaga.id }}">
                                    <button class="transparent-btn" type="submit"><span class="material-symbols-outlined">visibility</span></button>
                                </form>
                            </td>
                            <td>{{ vaga.nomeVaga }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <form action="{{ url_for('views.redirect_to_page') }}" method="post">
                <input type="hidden" name="go-to-page" value="views.cadastro_vaga">
                <button type="submit" class="btn">Cadastrar Vaga</button>
            </form>
        </div>
    </section>
</main>

{% endblock %}